<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ila.NLayer.ProjectTemplates.WebAdmin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ila.NLayer.ProjectTemplates.WebAdmin.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <div class="row">
            @if (User.Identity.IsAuthenticated)
                {
            <h3>User : @User.Identity.Name</h3>
                    <div class="col-md-3">
                    <div class="sidebar">
                        <div class="list-group">
                            <a href="/Product/Index" class="list-group-item">Products</a>
                        </div>
                    </div>
                </div>
                }
                <div class="col-md-9  mt-5">
                    <div class="content">
                        @RenderBody()
                    </div>
                </div>
            </div>

    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Web Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

